@import url("https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100;0,200;0,300;0,400;0,500;0,531;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,531;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap");
html {
  margin: 0;
  padding: 0;
}

/* Header */

body {
  font-family: "Grandstander", Times, serif;
}

header {
  margin: 0;
  background-color: #fafafa;
  padding-top: 5px;
}

.logo {
  float: left;
  padding-left: 20px;
}

.logo h1 {
  font-weight: 500;
  color: #43400c;
  font-size: 2rem;
  font-family: "Press Start 2P", Times, serif;
  letter-spacing: 5px;
}

header span {
  font-size: 17px;
  color: #43400c;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

header span:hover {
  color: #60625b;
}

.nav-bg-color {
  background: #b9b7b7;
}

.menu nav {
  padding: 0;
}

/* Game Styling */

.game-played {
  background-image: url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-shadow: 2px 2px rgb(236, 245, 238);
  color: rgb(59, 2, 7);
}

.computer-choice-box {
  height: 300px;
  width: 180px;
  border: 1px #58524d solid;
  border-radius: 10px;
}

.user-choice {
  height: 300px;
  width: 180px;
  border: 1px #58524d solid;
  border-radius: 10px;
}

.game-heading {
  text-align: center;
  font-weight: 700;
  color: #1a2122;
  padding-top: 50px;
  letter-spacing: 5px;
}

.round-heading {
  text-align: center;
  font-weight: 500;
  color: #2b2623;
  padding: 40px;
  text-decoration: underline;
}

.choice-heading {
  margin: 15px 0;
  font-weight: 500;
  font-size: 1.5rem;
}

.choices {
  margin: 10px 0;
  font-weight: 500;
}

.play-button {
  font-weight: bold;
  margin: 10px;
  padding: 5px;
  width: 100px;
}

#computer-choice {
  margin: 50px 0;
  font-weight: 400;
  font-size: 2rem;
  text-align: center;
  text-transform: capitalize;
}

.results-box {
  text-align: center;
  border: 1px #ffffff inset;
  border-radius: 10px;
  height: 120px;
}

.Summary {
  font-weight: 500;
  font-size: 1.8rem;
}
#result {
  text-decoration: underline;
  font-size: 1.4rem;
  font-weight: 400;
}

.score {
  font-weight: 500;
}

.center {
  text-align: center;
}

/* how to play  */

.how-to-container {
  position: relative;
  background: #696969;
  overflow: hidden;
  padding: 100px 20px;
  text-shadow: 2px 2px rgb(51, 47, 47);
}
.how-to-container:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.2;
  background-image: url(../images/background-how.jpg);
  background-repeat: no-repeat;
  background-position: center;
  -ms-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

.how-to-heading {
  color: #ffffff;
  padding: 10px;
  z-index: 3;
}
.how-to-container article {
  z-index: 3;
}
.how-to-container h3 {
  padding: 20px;
  color: #fafafa;
}

.how-to-container p {
  padding: 20px;
  color: #fafafa;
}

.how-to-container li {
  padding-left: 20px;
  color: #fafafa;
}

/* contact form  */

.contact-form ::placeholder {
  color: #ced1d8;
}

.contact-form {
  padding: 120px 20px;
  text-align: center;
  background-image: url(../images/background-form.jpg);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  color: #331a05;
  text-shadow: 2px 2px rgb(202, 192, 192);
}

.contact-form h4 {
  padding: 15px;
  color: #331a05;
}

.contact-form button {
  margin-top: 25px;
  background-color: #43400c;
  color: #ffffff;
}

.form-control {
  margin-bottom: 10px;
}

/* footer styling  */

footer {
  background-color: #fafafa;
}

hr {
  width: 100%;
  padding: 0;
  margin: 0;
}

.social {
  text-align: center;
}

.social li {
  padding: 10px 50px;
}

.social li a i {
  padding: 15px 0;
  font-size: 30px;
  line-height: 7px;
  text-align: center;
  color: #43400c;
}

.social li a i:hover {
  color: #60625b;
}

footer ul {
  margin: 0;
}
