@import url('https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100;0,200;0,300;0,400;0,500;0,531;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,531;1,600;1,700;1,800;1,900&family=Press+Start+2P&display=swap');
html {
    margin: 0;
    padding: 0;
}


/* Header */

body {
    font-family: 'Grandstander', Times, serif
}

header {
    margin: 0;
    background-color: #FAFAFA;
    padding-top: 5px;
}

.logo {
    float: left;
    padding-left: 20px;
}

.logo h1 {
    font-weight: 500;
    color: #312f2f;
    font-size: 2rem;
    font-family: 'Press Start 2P', Times, serif;
    letter-spacing: 4px;
}

header span {
    font-size: 17px;
    color: #312f2f;
    font-weight: 600;
    padding: 0;
    margin: 0;
}

header span:hover {
    color: #60625b;
}

.nav-bg-color {
    background: #b9b7b7
}

.menu nav {
    padding: 0;
}


/* Game Styling */

.game-played {
    background-color: #F6EEF6;
}

.computer-choice-box {
    height: 300px;
    width: 180px;
    border: 1px #58524d solid;
    border-radius: 10px;
}

.user-choice {
    height: 300px;
    width: 180px;
    border: 1px #58524d solid;
    border-radius: 10px;
}

.game-heading {
    text-align: center;
    font-weight: 900;
    color: #2b2623;
    padding-top: 50px;
    letter-spacing: 3px;
}

.round-heading {
    text-align: center;
    font-weight: 700;
    color: #2b2623;
    padding: 40px;
    text-decoration: underline;
}

.user-choice-heading {
    margin: 15px 0;
    font-weight: 700;
    font-size: 1.5rem;
    color: #181410;
}

.choices {
    margin: 10px 0;
    font-weight: 500;
    color: #181410;
}

.play-button {
    font-weight: bold;
    margin: 10px;
    padding: 5px;
    width: 100px;
}

#computer-choice {
    margin: 50px 0;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    color: #181410;
    text-transform: capitalize;
}

.results {
    text-align: center;
    border: 1px #FFFFFF inset;
    border-radius: 10px;
    height: 120px;
    color: #181410;
}

.summary {
    color: #1f1f1f;
}

.score-label {
    font-weight: bold;
    font-size: 1.5rem;
    color: #181410;
}

.score {
    font-weight: bold;
    color: #181410;
    text-decoration: underline;
}

.center {
    text-align: center;
}


/* how to play  */

.how-to {
    background-color: #F5ECDC;
    padding: 100px 20px;
}

.how-to-heading {
    color: #513117;
    padding: 10px;
}

.how-to h3 {
    padding: 20px;
    color: #513117;
}

.how-to p {
    padding: 20px;
    color: #513117;
}

.how-to li {
    padding-left: 20px;
    color: #513117;
}


/* contact form  */

.contact-form ::placeholder {
    color: #ced1d8;
}

.contact-form {
    padding: 120px 20px;
    text-align: center;
    background-color: #F6F6EB;
    color: #512b0c;
}

.contact-form h4 {
    padding: 15px;
    color: #512b0c;
}

.contact-form button {
    margin-top: 25px;
    background-color: #43400c;
    color: FFFFFF;
}

.form-control {
    margin-bottom: 10px;
}


/* footer styling  */

footer {
    background-color: #FAFAFA;
}

hr {
    width: 100%;
    padding: 0;
    margin: 0;
}

.social {
    text-align: center;
}

.social li {
    padding: 10px 50px;
}

.social li a i {
    padding: 15px 0;
    font-size: 30px;
    line-height: 7px;
    text-align: center;
    color: #312f2f;
}

.social li a i:hover {
    color: #60625b;
}

footer ul {
    margin: 0;
}